<div class="display--flex"style="box-shadow: 10px 13px 13px 2px grey; border-radius: 7px 7px 7px 7px;">


    
    <div class="flex--child--max fonta" style="background-color:rgb(176, 176, 176); border-radius: 7px 7px 0px 0px; padding: 5px;"> 
    	Toolbar
		    
    </div>
    
    

    <div class="flex--child--max" style="background-color:rgb(217, 217, 217); display:flex; border-radius: 0px 0px 7px 7px"> 
    
        
        <div class="flex--child display--flex" style="background-color:rgb(217, 217, 217); border-bottom-left-radius: 7px; align-items: center">
       
            <div class="flex--child--max rcorners1 fonta" style="background-color:rgb(173, 86, 86); padding: 15px; margin:5px;">
            
            <img style="vertical-align:middle" src="https://garlandtools.org/files/icons/instance/type/61801.png">
            <span style="font-weight: normal; font-size: 20px;"> Sastasha </span>
            <span> Lvl. 15</span>
           
           	</div>
            
            <div class="flex--child--max textcenter rcorners1" style="background-color:rgb(173, 86, 86); padding: 5px; margin: 5px">
            
			<img src="https://garlandtools.org/files/icons/instance/112001.png">
			
            </div>
        </div>
        
        
        <div class="flex--child display--flex" style="background-color:D9D9D9; border-bottom-right-radius: 7px; align-items: center">
			
            <div class="flex--child--max textcenter rcorners1 fonta" style="background-color:rgb(173, 86, 86); margin: 5px; padding: 20px">
            Mount
            </div>
            
            <div class="flex--child--max textcenter rcorners1 fonta" style="background-color:rgb(173, 86, 86); margin: 5px; padding: 20px">
			Minions
			</div>
            
            <div class="flex--child--max textcenter rcorners1 fonta" style="background-color:rgb(173, 86, 86); margin: 5px; padding: 20px">
            Orchestrion Roll
            </div>
            
            <div class="flex--child--max textcenter rcorners1 fonta" style="background-color:rgb(173, 86, 86); margin: 5px; padding: 20px">
                Orchestrion Roll
                </div>
        </div>
  
    </div>


</div>


<style>
.fonta {
  font-family: Verdana, Helvetica, sans-serif;
}
.display--flex {
	flex-flow: row wrap;
    display: flex;
}
.flex--child {
    flex-grow: 1;
}
.flex--child--max {
	flex:1 100%;
}
.textcenter {
	align-self: center;
    text-align: center;
}
.rcorners1 {
	border-radius: 7px 7px 7px 7px
}
</style>