.search-wrapper, .menu-wrapper{
    margin-left: 20px;
    margin-right: 20px;
}

.search-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 4;
}

.search-form{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.search-input{
    margin-left: 10px;
    padding: 8px;
    width: 250px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}
.search-select{
    border-left: 2px solid #212121;
    padding: 8px;
    width: 150px;
    outline: none;
}