
<div class="content">
 <!-- Here we will make a loop of all dungeons, each dungeon will have its name, then three loops, for minions, music and mounts -->
 <div *ngFor="let dungeon of dungeonInfo">
    <div>
      <mat-card style="margin-bottom: 5px;">
            <div class="title-container">
              <mat-card-title class="title-text">{{dungeon.dungeon.name}}</mat-card-title>
              <img class="title-img" src="{{dungeon.dungeon.banner}}" alt="{{dungeon.dungeon.name}}">
            </div>
              <mat-card-content>
              <div> 
                  <mat-card *ngFor="let minion of dungeon.minions">
                  <mat-card-title class="content-title">{{minion.name}}</mat-card-title>
                  <img mat-card-sm-image matTooltip="{{minion.enhanced_description}}" matTooltipClass="minion_desc" src="{{minion.image}}" alt="{{minion.name}}">
                  <mat-card-content>
                    <p>{{minion.enhanced_description}}</p>
                  </mat-card-content>
                </mat-card>
              </div>

              <div> 
                  <mat-card *ngFor="let orchestrionRoll of dungeon.orchestrions">
                  <mat-card-title class="content-title">{{orchestrionRoll.name}}</mat-card-title>
                  <img mat-card-sm-image matTooltip="{{orchestrionRoll.description}}" matTooltipClass="minion_desc" src="{{orchestrionRoll.icon}}" alt="{{orchestrionRoll.name}}">
                </mat-card>
              </div>

              <div> 
                <mat-card *ngFor="let card of dungeon.cards">

                <mat-card-title class="content-title">{{card.name}}</mat-card-title>
                <img mat-card-sm-image matTooltip="{{card.description}}" matTooltipClass="minion_desc" src="{{card.icon}}" alt="{{card.name}}">
              </mat-card>
            </div>

            <div> 
              <mat-card *ngFor="let spell of dungeon.spells">

              <mat-card-title class="content-title">{{spell.name}}</mat-card-title>
              <img mat-card-sm-image matTooltip="{{spell.description}}" matTooltipClass="minion_desc" src="{{spell.icon}}" alt="{{spell.name}}">
            </mat-card>
          </div>

              <div>
                  <mat-card *ngFor="let mount of dungeon.mounts">
                      <mat-card-title class="content-title">{{mount.name}}</mat-card-title>
                      <img mat-card-sm-image matTooltip="{{mount.enhanced_description}}" matTooltipClass="minion_desc" src="{{mount.image}}" alt="{{mount.name}}">
                      <mat-card-content>
                        <p>{{mount.enhanced_description}}</p>
                      </mat-card-content>
                  </mat-card>
              
              </div>
              </mat-card-content>
      </mat-card>
    </div>

</div>
  
 
  

</div>