.toolbar{
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    bottom: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}
.bottom-menu-button{
    margin: 5px 5px 0px 5px;
    height: 40px;
    width: 60px;
    border: none;
    outline: none;
    background: rgb(80, 80, 80);
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    transition-duration: 0.3s;
    cursor: pointer;
}
    .bottom-menu-button:disabled{
        transition-duration: 0s;
        cursor: default;
        visibility: hidden;
    }
    .bottom-menu-button:hover{
        transform: translateY(-3px);
    }

.bottom-menu-button-fourth:first{
    left:0;
}
.bottom-menu-button-fourth:last-of-type{
    right:0;
}
.bottom-menu-button-fourth:disabled{
    transition-duration: 0s;
    cursor: default;
    visibility: hidden;
}
.bottom-menu-text{
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
}
.bottom-menu-center{
    display: flex;
    margin: auto;
    flex-direction: row;
}