<app-navbar></app-navbar>
<div class="container">
    <div class="item">
        <div class="item-header-container">
            <div class="item-text-container">
                <p class="item-version">{{ character.Character.ID }}</p>
                <p class="item-name">{{ character.Character.Name }}</p>
                <div class="item-information">
                    <div class="item-categories">
                        <p class="item-categories-content">{{ character.Character.Server }} - {{ character.Character.DC }}</p>
                        <p class="item-categories-content">{{ character.Character.FreeCompanyName }}</p>
                </div>
            </div>
        </div>
    </div>
</div>