/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Righteous;
    src: url(./assets/Righteous-Regular.ttf) format("truetype");
  }

  .font--righteous {
    font-family: "Righteous", Sans-serif !important;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.minion_desc{
font-size: 1em;
background: rgba(37, 39, 37, 0.932)
}